#About.section
  .sectionHeader
    .left
      .title
        h2 About
      .subtitle
        span Guided ATV Tours
    .right.trees

  .biography.arthur
    .textbox
      h3 Arthur Trudeau
      h4 Owner / Operator

      p.
        Arthur Trudeau graduated from Sault College from the Natural Environmental Technician Conservation Management program in 2011 with awards from the Ministry of Natural Resources. His knowledge of the land from a scientific background and of his First Nations culture is one of the things that makes Arthur a unique and knowledgeable guide.
      p.
        Having grown up in the Northwoods as a hunter-gather, Arthur is quite at home in all forest settings regardless of time or season. His knowledge of flora and fauna, fish and wildlife, as well as the different ecosystems within the Northwoods is first class.
      p.
        Arthur was a volunteer firefighter with citations for life saving from the Ontario Provincial Police answer as well as the Sagamok Anishnawbek Fire Department, for Arthur safety along side fun is paramount. 

  .biography.amanda
    .textbox
      h3 Amanda Trudeau
      h4 Manager

      p.
        A people person through and through, Amanda's dedication to customer service ensures your adventure will always be enjoyable.