#Contact.section
  .sectionHeaderFlipped
    .left.trees
    .right
      .title
        h2 Contact
      .subtitle
        span Let's get started!

  .introduction
    p.
      Contact Amanda at 1-705-862-1150 to book your next adventure!

  .contactForm
    label(for="contactName") Your name
    span.errorMessage#nameError Please enter your name
    input(type="text" id="contactName" name="contactName")
    

    label(for="contactEmail") Your email address
    span.errorMessage#emailError Please enter your email address
    input(type="text" id="contactEmail" name="contactEmail")
    

    label(for="contactMessage") What would you like to know?
    span.errorMessage#messageError Please leave us a message
    textarea(rows="5" cols="50" id="contactMessage" name="contactMessage")
    
    button.submitContactForm Send