#Location.section
  .sectionHeaderFlipped
    .left.mountain
      span
    .right
      .title
        h2 Location
      .subtitle
        span Where it all takes place

  .article
    
    p.
      <span class="paragraphIntro">Nestled in the forests of Northern Ontario,</span> dotted by countless lakes and rivers, is a land filled with mystery and hidden treasures. 
      This is where Mukwa Adventures lives, and this is where your adventure takes place.
    p.
      But this place isn't a completely untamed wilderness. Here and there are found the luxuries of modern day in the form of resorts ready and waiting to serve the weary adventurer. Depending on the Mukwa Adventure you choose, one of these places of relaxation is waiting to serve you.

