#Tours.section
  .sectionHeader
    .left
      .title
        h2 Tours
      .subtitle
        span The adventure begins!
    .right.trees
  
  .introduction
    p. 
      Tours introduction
  .toursArea
    
    .tourBox
      .title
        h3 Half-Day Tour
      .details
        p.
          This is the description.
      .footer
        button.learnMore Learn More

    .tourBox
      .title
        h3 Full-Day Tour
      .details
        p.
          This is the description.
      .footer
        button.learnMore Learn More

    .tourBox
      .title
        h3 Weekend Tour
      .details
        p.
          This is the description.
      .footer
        button.learnMore Learn More

    .tourBox
      .title
        h3 Custom Tour
      .details
        p.
          This is the description.
      .footer
        button.learnMore Learn More