#Tours.section
  .sectionHeader
    .left
      .title
        h2 Tours
      .subtitle
        span The adventure begins!
    .right.trees
      span

  .introduction
    h3 What's a guided tour?
    p.
      Our guided tours, primarily lead by Arthur Trudeau, put you on the trails with all of 
      the equipment and expertise you need to have a once in a lifetime adventure. To ensure 
      the best quality of ride for our customers, all of our ATVs are used exclusively 
      for our guided tours.
      
  .toursArea
    
    .tourBox
      .title
        h3 Half-Day Tour
      .details
        p.
          Get a taste for adventure with our half-day tour which includes:
        ul
          li 4 hour guided ATV tour
          li Safety and equipment training
          li ATV and required equipment
      .footer
        button.learnMore Learn More

    .tourBox
      .title
        h3 Full-Day Tour
      .details
        p.
          Dive in for an entire day of adventure with our full-day tour, including:
        ul
          li 8 hour guided ATV tour
          li Safety and equipment training
          li ATV and required equipment
          li Lunch break
      .footer
        button.learnMore Learn More

    .tourBox
      .title
        h3 Weekend Tour
      .details
        p.
          Become one with the trails on our weekend tour which includes:
        ul
          li 3-day tour running from Friday to Sunday
          li Safety and equipment training
          li ATV and required equipment
          li Meal and snack breaks
          li Accomodations at local lodges and resorts
      .footer
        button.learnMore Learn More

    .tourBox
      .title
        h3 Custom Tour
      .details
        p.
          We can work with you to create the perfect guided ATV adventure, possibilities include:
        ul
          li Bachelor getaways
          li Scenic shore lunches
          li Women's wellness retreats
      .footer
        button.learnMore Learn More