#Tours {
  margin-top: 30px;
  background: url('../img/backgroundTours.jpg') no-repeat;
  background-position: center bottom;
  background-size: 100%;
  padding-bottom: 300px;
  .introduction {
  font-size: 14px;
  max-width: 800px;
  padding: 20px 180px 100px 25px;
  margin: 0px 0 0px 0;
  text-align: justify;
  background: url('../img/stamps1.png') no-repeat;
  background-position: top right;
  background-size: 370px 200px;
  transition: background-size .2s ease;
    @media (max-width: 620px) {
      padding: 60px 25px 40px 25px;
    }
    @media (max-width: 480px) {
      background-size: 222px 120px;
    }

    h3 {
      color: $red;
    }
  }
  .toursArea {
   
    .tourBox {
      position: relative;
      width: 48%;
      margin: 1%;
      padding: 10px 30px;
      display: inline-block;
      vertical-align: top;
      border: 10px solid $white;
      box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
      min-height: 400px;
      background: url('../img/tour_background.jpg') no-repeat;
      transition: border-color .2s ease, box-shadow .2s ease;
      &:hover, &:active {
        border-color: lighten($black, 70%);
        box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
      }
      &:nth-child(2) {
        background-position: center top;
      }
      &:nth-child(3) {
        background-position: right top;
      }
      &:nth-child(4) {
        background-position: 70% top;
      }
      .title {
        font-size: 20px;
        line-height: 1;
        color: $red;
        
      }
      .details {
        margin-top: 20px;
        ul {
          margin-top: 15px;
          font-family: $headline_text;
          font-size: 14px;
          li {
            margin-bottom: 5px;
          }
        }
      }
      .footer {
        height: 50px;
        .learnMore {
          background: $red;
          color: $white;
          border: none;
          padding: 18px 35px;
          position: absolute;
          bottom: 10px;
          right: 10px;
          cursor: pointer;
          transition: background .2s ease;
          &:hover {
            background: darken($red, 10%);
          }
        }
      }
      @media(max-width: 680px) {
        width: 100%;
      }
    }
  }
}