#Tours.section
  .sectionHeader
    .left
      .title
        h2 Tours
      .subtitle
        span The adventure begins!
    .right.trees
      span

  .introduction
    h3 What's a guided tour?
    p.
      Mukwa Adventures is a guided ATV tour business that is 100% mobile. 
      We have access to over thousands of kilometers of trails in Northern 
      Ontario while collaborating with amazing local lodges and resorts in 
      the area for our clients to relax after a day out playing in the mud 
      and digging up some trails! We provide all the safety gear, ATV’s and 
      training required. Our male and female guides will lead you with all 
      the equipment and expertise you need to have a once in a lifetime 
      adventure.
      
  .toursArea
    
    .tourBox
      .title
        h3 Half-Day Tour
      .details
        p.
          Get a taste for adventure with our half-day tour which includes:
        ul
          li 4 hour guided ATV tour
          li Safety and equipment training
          li ATV and required equipment
      .footer
        button.learnMore#halfDayTour Learn More

    .tourBox
      .title
        h3 Full-Day Tour
      .details
        p.
          Dive in for an entire day of adventure with our full-day tour, including:
        ul
          li 8 hour guided ATV tour
          li Safety and equipment training
          li ATV and required equipment
          li Lunch break
      .footer
        button.learnMore#fullDayTour Learn More

    .tourBox
      .title
        h3 Weekend Tour
      .details
        p.
          Become one with the trails on our weekend tour which includes:
        ul
          li 3-day tour running from Friday to Sunday
          li Safety and equipment training
          li ATV and required equipment
          li Meal and snack breaks
          li Accomodations at local lodges and resorts
      .footer
        button.learnMore#weekendTour Learn More

    .tourBox
      .title
        h3 Custom Tour
      .details
        p.
          We can work with you to create the perfect guided ATV adventure, possibilities include:
        ul
          li Bachelor getaways
          li Scenic shore lunches
          li Women's wellness retreats
      .footer
        button.learnMore#customTour Learn More