div#Welcome.section
  .navigation
    .logospace
      img.logo(src="./img/mukwa_adventures_logo.png" alt="Mukwa Adventures")
    .navspace
      .navbar
        a(class="link" href="#Welcome") Welcome
        a(class="link" href="#Tours") Tours
        a(class="link" href="#Location") Location
        a(class="link" href="#About") About
        a(class="link" href="#Contact") Contact
      .motto When was the last time you did something for the first time?
  
  .greeting
    img.greeting(src="./img/mukwa_adventures_guided_atv_tours.png")

  .pitch
    h3 Adventure Awaits
    p.
      Let us take you on an ATV tour through the twists and turns of Northern Ontario's great wilderness. 
      Expert woodsman, Arthur Trudeau will be your guide as he leads you on an adventure you'll never forget.