div {
  //background-color: rgba(0,0,0,0.05);
}
#Welcome {
  background: url('../img/hero.jpg') center top;
  min-height: 848px; //set to height of background image
  .navigation {
      padding-top: 20px;
      margin-bottom: 120px;
    .logospace {
      width: 105px;
      float: left;
      .logo {
        width: 102px;
        height: 102px;
      }
    }
    .navspace {
      float: left;
      margin-left: 15px; //whitespace between logo and nav
      margin-top: 20px;
      .navbar {
        border-bottom: 2px solid #444;
        padding-bottom: 8px;
        a {
          font-family: $headline_text;
          color: #444;
          text-transform: uppercase;
          padding: 0 1.7em 0 0;
          &:last-child {
            padding: 0 0 0 0 !important;
          }
        }
      }
      .motto {
        
        color: #888;
        font-size: .9em;
        letter-spacing: .2px;
        margin-top: 10px;
      }
    }
  }
  .greeting {
    margin-top: 220px;
    text-align: center;
    .sign {
      
    }
  }
  .pitch {
    color: white;
    width: 80%;
    max-width: 628px;
    margin: 80px auto 0 auto;
    padding: 10px 30px 20px 30px;
    border: 10px solid white;
    background: url('../img/pitch_background.jpg') center top no-repeat #fff;

    h3 {
      color: $red;
      border-bottom: 1px solid $white;
      margin-bottom: 20px;
      padding-bottom: 10px;
    }
  }
}