doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Mukwa Adventures
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(href="https://fonts.googleapis.com/css?family=La+Belle+Aurore|Libre+Baskerville|Open+Sans:400,700,800" rel="stylesheet")
    link(rel="stylesheet" href="css/main.css")
  body
  
    .container
      include components/welcome.pug
      include components/tours.pug
      include components/location.pug
      include components/about.pug
      include components/contact.pug

    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='./js/all.js')